#head{
    text-align: center;
    background-color: gray;
    padding: 5px;
}

#img1{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#img2{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#img3{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#img4{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#img5{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
